.tooltip {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.tooltiptext {
  visibility: visible;
  position: absolute;
  background-color: black;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
